.container {
  height: calc(100% - 60px);
  width: 100%;
  overflow: scroll;
  justify-content: center;
  display: flex;
  background: #334466;
  .post-list {
    display: flex;
    width: 95%;
    flex-wrap: wrap;
    align-items: center;
  }
  .create-post {
    position: fixed;
    bottom: 20px;
    right: 20px;
    button {
      height: 60px;
      width: 60px;
      color: white;
      background-color: #ED407E;
    .mat-icon {
      font-size: 28px;
      height: 28px;
      width: 28px;
      line-height: 28px;
    }
    }
  }
  .spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
