.post-card {
  margin: 10px;
  min-width: 250px;
  width: 20vw;
  height: 400px;
  .description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 17;
    line-break: strict;
    line-height: 20px;
    max-height: 320px;
  }
  .actions {
    position: absolute;
    right: 5px;
    bottom: 5px;
    button {
      color: white;
      background-color: #334466;
      margin: 0 5px;
    }
  }
}
